@use 'sass:map'
@use '../../styles/mixins' as mix
@use '../../styles/variables' as vars
.form
    width: 100%
    @include mix.flex-content(start, column)
    align-items: start
    row-gap: 20px
    &-inputs
        width: 100%
        @include mix.flex-content(start, column)
        align-items: flex-start
        row-gap: 20px
        .input,
        .ant-input
            width: 100%
            margin-bottom: 0
            background: transparent
            &:focus
                border-color: map.get(vars.$main, 'main')
            &::placeholder
                +mix.typography(18px, 400, rgb(230 230 230 / 70%))
            &:disabled
                cursor: default
            .ant-select-disabled:where(.css-dev-only-do-not-override-7t2xvq).ant-select:not(.ant-select-customize-input) .ant-select-selector
                cursor: default !important
            label
                +mix.typography(18px, 500, map.get(vars.$main, 'main'))
                margin-bottom: 10px
            .ant-select-selection-search
                .ant-select-selection-search-input
                    cursor: default !important
        .ant-select-selection-placeholder
            +mix.typography(18px, 400, map.get(vars.$basic, 'black'))
    .form-inputs-row
        width: 100%
        @include mix.flex-content(space-between, row)
        gap: 20px
    &-divider-title
        .title
            +mix.typography(21px, 600, map.get(vars.$basic, 'black'))
    .create-order-items
        width: 100%
        @include mix.flex-content(start, column)
        align-items: start
        gap: 10px
        &-item
            @include mix.flex-content(center, row)
            align-items: center
            gap: 10px
.form-inputs-organization
    width: 100%
    @include mix.flex-content(center, row)
    align-items: center
    gap: 20px

.custom-placeholder
    +mix.typography(18px, 400, rgb(230 230 230 / 70%))
    background: transparent
