@use "sass:map"
@use "../../styles/mixins" as mix
@use "../../styles/variables" as vars
.layout
    height: 100%
    background: map.get(vars.$main, 'main-bg')
    &-header
        background: map.get(vars.$basic, 'white')
        box-shadow: 0 0 17px 0 #dcdcdc
        &-container
            @include mix.flex-content(space-between, row)
            height: 64px
            align-items: center
            &-items
                @include mix.flex-content(space-between, row)
                column-gap: 20px
                &-item
                    display: flex
                    .logo
                        display: flex
                        +mix.typography(28px, 600, map.get(vars.$main, 'main'))
    &-content-wrapper
        width: 100%
        height: calc(100% - 64px)
        overflow: hidden
        margin: 14px
        .layout-content
            width: 100%
            height: 100%
            padding: 10px
            overflow: auto
            background-color: map.get(vars.$main, 'main-bg')
            @include mix.flex-content(center, row)
            align-items: start
            gap: 20px
            .layout-sider
                background-color: map.get(vars.$basic, 'white')
                position: relative
                padding: 24px 15px
                border-radius: 20px
                box-shadow: 0 0 17px 0 #dcdcdc
                flex: 0 0 250 !important
                width: 250px !important
                max-width: 250px !important
                min-width: 250px !important
                .layout-sider-menu
                    border: none
                    .menu-icon
                        font-size: 24px
                    .ant-menu-submenu
                        .ant-menu-sub
                            background: transparent
                            margin-left: 50px
                    .ant-menu-submenu-title,
                    .ant-menu-item
                        +mix.typography(17px, 600, map.get(vars.$basic, 'black'))
                        background: transparent
                        transition: all 0.3s ease
                    .ant-menu-submenu-title
                        +mix.typography(18px, 600, map.get(vars.$main, 'main'))
                        padding-left: 8px !important
                        &:hover
                            color: map.get(vars.$main, 'main')
                    .ant-menu-item
                        +mix.typography(18px, 600, map.get(vars.$basic, 'black'))
                        padding-left: 8px !important
                        &:hover
                            color: map.get(vars.$main, 'main') !important
                    .ant-menu-item-selected
                        background-color: map.get(vars.$main, 'main-light') !important
                        +mix.typography(18px, 600, map.get(vars.$basic, 'black'))
                        padding-left: 8px !important
                        border-radius: 8px
                        .ant-menu-title-content
                            color: map.get(vars.$basic, 'white') !important
                &-trigger
                    width: 100%
                    z-index: 1
                    &-container
                        border: 1px solid map.get(vars.$main, 'main')
                        width: 28px
                        height: 28px
                        border-radius: 6px
                        @include mix.flex-content(start, row)
                        &-button
                            width: 100%
                            font-size: 28px
                            @include mix.flex-content(center, row)
            &-container
                @include mix.flex-content(center, column)
                row-gap: 24px
                .heading
                    background-color: map.get(vars.$basic, 'white')
                    position: relative
                    padding: 24px
                    margin-right: 24px
                    border-radius: 20px
                    box-shadow: 0 0 17px 0 #dcdcdc
                    width: 100%
                .box
                    background-color: map.get(vars.$basic, 'white')
                    position: relative
                    padding: 24px
                    margin-right: 24px
                    border-radius: 20px
                    box-shadow: 0 0 17px 0 #dcdcdc
                    width: 100%
                    &-container
                        @include mix.flex-content(flex-start, column)
                        align-items: flex-start
                        row-gap: 24px
                        width: 100%
                        &-items
                            width: 100%
                            &-item
                                &-filters
                                    @include mix.flex-content(flex-start, row)
                                    column-gap: 20px
