$basic: ('white': var(--basic-white), 'black': var(--basic-black))
$main: ('main' : var(--main-primary), 'box-shadow': var(--main-box-shadow), 'secondary-white': var(--main-secondary-white), 'grey': var(--main-grey), 'main-light': var(--main-light), "main-more-lighter": var(--main-more-lighter), 'main-bg': var(--main-bg), "light-grey": var(--main-light-grey))
$events: ('green': var(--event-green), "red": var(--event-red), "yellow": var(--event-yellow))
$border: ('r-6': 6px)
